header{
    background-color: skyblue;
}
h1{
    margin: 0;
    padding: 30px;
    text-align: center;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .footer {
    margin-top: auto;
  }

#inputArea{
    margin-top: 15px;

}
/* need table container? */

  table {
    border-collapse: collapse;
    border: 1px solid teal;
    text-align: center;
	vertical-align: middle;
    width: 100%;
    font-size: 2rem;
    color: slategray ;
    min-height: 10rem;
    /* border-right: 1rem solid darkslateblue; */
    background-color: white;
  }

  caption {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    padding: .3rem;
    margin-bottom: 2rem;
    border-bottom: 1rem solid darkslateblue;
    width: 100%;
    color: darkslateblue;
    background-color: white;
  }

  thead {
    background-color: darkslateblue;
    color: white;
    font-size: 1.75rem;
	  text-transform: uppercase;
	  letter-spacing: 2%;
  }

  /* if border set in table it is outside, in th, td it is all cells */

  th, td {
    padding: .5rem;
  }

  thead th {
    width: 20%;
  }
/* highlight cell for emphasis */
  .cell-highlight {
    background-color: darkseagreen;
    font-weight: bold;
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  footer{
    background-color: skyblue;
}