

header{
    background-color: skyblue;
   
}
h1{
    margin: 0;
    padding: 30px;
    text-align: center;
    font-size: 3rem;
}

.true{
    text-decoration: line-through;
    color: black;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
  


#inputArea{
  display: flex;
  margin-left: 100px;
  padding: 50px;
  
    /* margin-top: 15px; */
    /* margin-bottom: 50px; */
}

input{
  width: 50%;
  padding: 10px;
  border: 2px solid darkslateblue
}

#addTaskButton{
  margin-left: 5px;
}


  table {
    border-collapse: collapse;
    border: 1px solid darkslateblue;
    text-align: center;
	  vertical-align: middle;
    width: 100%;
    font-size: 2rem;
    color: slategray ;
    min-height: 10rem;
    /* border-right: 1rem solid darkslateblue; */
    background-color: white;
    margin-bottom: 50px;
  }
/* 
  caption {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: #333;
    padding: .3rem;
    margin-bottom: 2rem;
    border-bottom: 1rem solid darkslateblue;
    width: 100%;
    color: darkslateblue;
    background-color: white;
  } */

  thead {
    background-color: darkslateblue;
    color: white;
    font-size: 1.75rem;
	  text-transform: uppercase;
	  letter-spacing: 2%;
  }

  /* if border set in table it is outside, in th, td it is all cells */

  th, td {
    padding: .5rem;
  }

  thead th {
    width: 20%;
  }
/* highlight cell for emphasis -not using this */
  .cell-highlight {
    background-color: darkseagreen;
    font-weight: bold;
  } 


  tbody tr:nth-child(odd) {
    background-color: #fff;
  }
  
  tbody tr:nth-child(even) {
    background-color: #eee;
  }

  td{
    color: black;
  }

  footer{
    background-color: skyblue;
    min-height: 150px;
    margin-top: auto;
}